<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
    <!--获得所有  -->
    <select id="findAll"  resultType="com.tdse.mx.dao.Product">
        select * from tdse_product
    </select>

    <!--获得条件筛选后  -->
    <select id="find"  resultType="com.tdse.mx.dao.Product">
        select * from tdse_product
        <where>
            <if test="product_id!=null">
                and product_id =#{product_id}
            </if>
            <if test="product_name!=null">
                and  product_name = #{product_name}
            </if>
            <if test="product_theme_name!=null">
                and  product_theme_name = #{product_theme_name}
            </if>
            <if test="product_money!=null">
                and  product_money = #{product_money}
            </if>
            <if test="product_introduce!=null">
                and  product_introduce = #{product_introduce}
            </if>
            <if test="product_grade!=null">
                and  product_grade = #{product_grade}
            </if>
            <if test="product_download_number!=null">
                and  product_download_number = #{product_download_number}
            </if>
            <if test="product_edition!=null">
                and  product_edition = #{product_edition}
            </if>
            <if test="product_state!=null">
                and  product_state = #{product_state}
            </if>
            <if test="product_edition!=null">
                and  product_pkg_name = #{product_pkg_name}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="com.tdse.mx.dao.Product">
        insert into tdse_product(product_id,product_name,product_theme_name,product_money,product_introduce,product_grade,product_download_number,product_edition,product_state,product_pkg_name)
        values(#{product_id},#{product_name},#{product_theme_name},#{product_money},#{product_introduce},#{product_grade},#{product_download_number},#{product_edition},#{product_state},#{product_pkg_name})
    </insert>

    <insert id="addList" parameterType="java.util.List">
        insert into tdse_product(product_id,product_name,product_theme_name,product_money,product_introduce,product_grade,product_download_number,product_edition,product_state,product_pkg_name)
        values
        <foreach collection="list" item="item"  index="index" separator=",">
            (#{item.product_id},#{item.product_name},#{item.product_theme_name},#{item.product_money},#{item.product_introduce},#{item.product_grade},#{item.product_download_number},#{item.product_edition},#{item.product_state},#{item.product_pkg_name})
        </foreach>
    </insert>

    <delete id="deleteAll" >
        delete from tdse_product
    </delete>

    <delete id="delete" parameterType="com.tdse.mx.dao.Product">
        delete from tdse_product
        <where>
            <if test="product_id!=null">
                and product_id =#{product_id}
            </if>
            <if test="product_name!=null">
                and  product_name = #{product_name}
            </if>
            <if test="product_theme_name!=null">
                and  product_theme_name = #{product_theme_name}
            </if>
            <if test="product_money!=null">
                and  product_money = #{product_money}
            </if>
            <if test="product_introduce!=null">
                and  product_introduce = #{product_introduce}
            </if>
            <if test="product_grade!=null">
                and  product_grade = #{product_grade}
            </if>
            <if test="product_download_number!=null">
                and  product_download_number = #{product_download_number}
            </if>
            <if test="product_edition!=null">
                and  product_edition = #{product_edition}
            </if>
            <if test="product_state!=null">
                and  product_state = #{product_state}
            </if>
            <if test="product_edition!=null">
                and  product_pkg_name = #{product_pkg_name}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="com.tdse.mx.dao.Product">
        update tdse_product set product_name=#{product_name},product_theme_name=#{product_theme_name},product_money=#{product_money},product_introduce=#{product_introduce},product_grade=#{product_grade},product_download_number=#{product_download_number},product_edition=#{product_edition},product_state=#{product_state},product_pkg_name=#{product_pkg_name}
        where product_id=#{product_id}
    </update>

    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tdse_product
            <set>
                product_name=#{item.product_name},product_theme_name=#{item.product_theme_name},product_money=#{item.product_money},product_introduce=#{item.product_introduce},product_grade=#{item.product_grade},product_download_number=#{item.product_download_number},product_edition=#{item.product_edition},product_state=#{item.product_state},product_pkg_name=#{item.product_pkg_name}
            </set>
            where product_id = #{item.product_id}
        </foreach>
    </update>
</mapper>