<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="theMapper">

    <select id="find"  resultType="com.tdse.mx.dao.Product">
        select * from tdse_product_theme
    </select>

    <select id="findThemeById" parameterType="String" resultType="com.tdse.mx.dao.Theme">
        select * from tdse_product_theme where
        theme_id =#{theme_id}
    </select>

    <select id="findThemeByName" parameterType="String" resultType="com.tdse.mx.dao.Theme">
        select * from tdse_product_theme where
        theme_name = #{theme_name}
    </select>

    <select id="findById" parameterType="String" resultType="boolean">
        select 1 from tdse_product_theme where theme_id =#{theme_id} limit 1
    </select>

    <select id="findByName" parameterType="String" resultType="boolean">
        select 1 from tdse_product_theme where theme_name =#{theme_name} limit 1
    </select>

    <insert id="addTheme" parameterType="com.tdse.mx.dao.Theme">
        insert into tdse_product_theme(theme_id,theme_name,theme_money,theme_introduce) values (#{theme_id},#{theme_name},#{theme_money},#{theme_introduce})
    </insert>

    <delete id="deleteById" parameterType="String">
        delete from tdse_product_theme where
        theme_id=#{theme_id}
    </delete>

    <delete id="deleteByName" parameterType="String">
        delete from tdse_product_theme where
        theme_name=#{theme_name}
    </delete>

    <update id="updateTheme" parameterType="com.tdse.mx.dao.Theme">
        update tdse_product_theme set theme_name=#{theme_name},theme_money=#{theme_money},theme_introduce=#{theme_introduce}
        where theme_id=#{theme_id}
    </update>

</mapper>